on post-fs
    exec - root -- /system/bin/rw-system.sh
    export LD_SHIM_LIBS /system/lib64/libdisplayenginesvc_1_0.so|libshims_hwsmartdisplay_jni.so:/system/lib64/libdisplayenginesvc_1_1.so|libshims_hwsmartdisplay_jni.so:/system/lib64/libhwsmartdisplay_jni.so|libshims_hwsmartdisplay_jni.so:/system/lib64/libhwpwmanager_jni.so|libshims_hwsmartdisplay_jni.so
    mount none /system/usr/keylayout/fingerprint.kl /vendor/usr/keylayout/fingerprint.kl bind
    mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
 
 on post-fs-data
     mkdir /data/vendor_ce 0771 root root
     mkdir /data/vendor_de 0771 root root
     mkdir /data/system_ce 0771 root root
     mkdir /data/misc_ce 0771 root root
     mkdir /data/misc_ce/0 0771 root root
     mkdir /data/media/0 0771 root root
     mkdir /data/system_ce/0 0771 root root
       
on post-fs-data && property:ro.hardware=hi3650
    exec - root -- /system/bin/cam.hi3650.sh  
  
on property:sys.boot_completed=1 
	stop incidentd
	
on property:sys.boot_completed=1 
	exec - root -- /system/bin/hw-overlay.sh
  
on property:sys.boot_completed=1 && property:ro.hardware=kirin970
    write /sys/class/hw_power/charger/direct_charger/iin_thermal 4200
    write /sys/class/hw_power/charger/charge_data/iin_thermal 2000

on property:sys.boot_completed=1 && property:ro.hardware=hi3660
    write /sys/class/hw_power/charger/direct_charger/iin_thermal 4000
    write /sys/class/hw_power/charger/charge_data/iin_thermal 2000

on property:sys.boot_completed=1 && property:ro.hardware=hi3650
    write /sys/class/hw_power/charger/charge_data/iin_thermal 2000
    
on property:sys.boot_completed=1 && property:ro.hardware=hi6250    
  write /sys/class/hw_power/charger/direct_charger/iin_thermal 2750
  write /sys/class/hw_power/charger/charge_data/iin_thermal 1000
  
on property:ro.product.device=HWBLA
    setprop persist.sys.overlay.burnin true

on property:ro.product.device=HWLON
    setprop persist.sys.overlay.burnin true

on property:ro.product.device=HWANE
    setprop persist.sys.overlay.notch true

on property:ro.lineage.device=*
    setprop qemu.hw.mainkeys 1

service dpeservice-1.0 /system/bin/displayengineserver@1.0
    class main
    user graphics
    group graphics system sdcard_rw
    disabled

service dpeservice-1.1 /system/bin/displayengineserver@1.1
    class main
    user graphics
    group graphics system sdcard_rw
    disabled

on property:init.svc.displayengine-hal-1-0=*
    start dpeservice-1.0

on property:init.svc.displayengine-hal-1-1=*
    start dpeservice-1.1
    
on property:sys.fpnav.enabled=0
    write /sys/devices/platform/fingerprint/nav 0
    stop fps_hal_ext
    start fps_hal_ext

on property:sys.fpnav.enabled=1
    write /sys/devices/platform/fingerprint/nav 1
    stop fps_hal_ext
    start fps_hal_ext
